<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.plume.code.mybatis.mapper.MVCMybatisDemoUserMapper">

    <!-- Read -->
    <select id="queryUserInfo" resultType="com.plume.code.mybatis.entity.MVCMybatisDemoUser">
        select * from UserInfo where id=#{id}
    </select>

</mapper>